[*.cs]

# CA1707: Identifiers should not contain underscores
dotnet_diagnostic.CA1707.severity = none

# IDE0063: Use simple 'using' statement
csharp_prefer_simple_using_statement = true:none

# CA2254: Template should be a static expression
dotnet_diagnostic.CA2254.severity = silent
